// variables
$header-height: 97px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  .navbar-brand {
    pointer-events: none;
    color: darkgray;
  }
  border-bottom: 1px solid darkgray;
  background-color: white;
}

.page-container {
  padding-top: $header-height;
}
